{% extends "bootstrap/base.html" %}

{% block title %}
Flasky
{% endblock %}

{% block head %}

{{ super() }}

<style>

    body {
        background-color: #121212;
        color: #eeeeee;
    }

    .navbar {
        background-color: #1f1f1f;
        border-color: #333333;
    }

    .navbar-brand,
    .navbar-nav > li > a {
        color: #eeeeee !important;
    }

    .navbar-brand:hover,
    .navbar-nav > li > a:hover {
        color: #ffffff !important;
        background-color: #333333 !important;
    }

    .container {
        color: #eeeeee;
    }

    .page-header {
        border-bottom-color: #333333;
    }

    .form-control {
        background-color: #1f1f1f;
        color: #eeeeee;
        border-color: #555555;
    }

    .form-control:focus {
        background-color: #1f1f1f;
        color: #ffffff;
        border-color: #888888;
    }

    .table {
        color: #eeeeee;
    }

    .table > thead > tr > th {
        border-bottom-color: #555555;
    }

    .table > tbody > tr > td {
        border-top-color: #333333;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #1a1a1a;
    }

    .btn-primary {
        background-color: #337ab7;
        border-color: #286090;
    }

    .alert {
        color: #eeeeee;
        background-color: #1f1f1f;
        border-color: #444444;
    }

</style>

{% endblock %}

{% block navbar %}

<div class="navbar navbar-inverse" role="navigation">

    <div class="container">

        <div class="navbar-header">

            <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse"
            >

                <span class="sr-only">
                    Toggle navigation
                </span>

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            <a
                class="navbar-brand"
                href="{{ url_for('index') }}"
            >
                Avaliação contínua: Aula 070
            </a>

        </div>

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">

                <li>

                    <a href="{{ url_for('index') }}">
                        Home
                    </a>

                </li>

                <li>

                    <a href="{{ url_for('emails_enviados') }}">
                        E-mails enviados
                    </a>

                </li>

            </ul>

        </div>

    </div>

</div>

{% endblock %}

{% block content %}

<div class="container">

    {% for message in get_flashed_messages() %}

        <div class="alert alert-warning">

            <button
                type="button"
                class="close"
                data-dismiss="alert"
            >
                &times;
            </button>

            {{ message }}

        </div>

    {% endfor %}

    {% block page_content %}

    {% endblock %}

</div>

{% endblock %}

{% block scripts %}

{{ super() }}

{{ moment.include_moment() }}

{% endblock %}
