<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Flasky</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <nav class="navbar">

        <div class="navbar-content">

            <a class="brand" href="{{ url_for('index') }}">
                Flasky
            </a>

            <div class="links">

                <a href="{{ url_for('index') }}">
                    Home
                </a>

                <a href="{{ url_for('identificacao') }}">
                    Identificação
                </a>

                <a href="{{ url_for('contexto_requisicao') }}">
                    Contexto da requisição
                </a>

            </div>

        </div>

    </nav>


    <main class="container">

        {% with messages = get_flashed_messages() %}

            {% if messages %}

                {% for message in messages %}

                    <div class="alert">
                        {{ message }}
                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}


        {% block content %}

        {% endblock %}

    </main>

</body>

</html>