{% extends "base.html" %}


{% block title %}
Contexto
{% endblock %}


{% block content %}

<div class="pagina">

    <div class="card">

        <h1>
            Contexto
        </h1>


        <p>
            Esta aplicação foi desenvolvida utilizando
            o framework Flask e hospedada na plataforma
            PythonAnywhere.
        </p>


        <p>
            O projeto faz parte das atividades da disciplina
            e utiliza páginas HTML, CSS e rotas Flask.
        </p>

    </div>

</div>

{% endblock %}