{% extends "base.html" %}


{% block title %}
Identificação
{% endblock %}


{% block content %}

<div class="pagina">

    <div class="card">

        <h1>
            Identificação
        </h1>


        <div class="informacoes">

            <p>
                <strong>Nome:</strong>
                Washington
            </p>

            <p>
                <strong>Curso:</strong>
                Análise de Sistemas
            </p>

            <p>
                <strong>Instituição:</strong>
                IFSP - Campus Pirituba
            </p>

        </div>

    </div>

</div>

{% endblock %}