{% extends "base.html" %}

{% block title %}Avaliação contínua: Aula 060.C{% endblock %}

{% block page_content %}

<div class="page-header">

    <h1>
        Olá,
        {% if name %}
            {{ name }}
        {% else %}
            Stranger
        {% endif %}!
    </h1>

    {% if not known %}
        <p>Prazer em conhecê-lo!</p>
    {% else %}
        <p>Feliz em vê-lo novamente!</p>
    {% endif %}

</div>


<form method="POST">

    {{ form.hidden_tag() }}

    <div class="form-group">

        {{ form.name.label }}

        {{ form.name(
            class="form-control"
        ) }}

    </div>


    <div class="form-group">

        {{ form.role.label }}

        {{ form.role(
            class="form-control"
        ) }}

    </div>


    <div class="form-group">

        {{ form.submit(
            class="btn btn-default"
        ) }}

    </div>

</form>


<br>


<h2>Relação de usuários cadastrados</h2>

<h4>Quantidade: {{ users_count }}</h4>


<table class="table">

    <thead>

        <tr>
            <th>Nome do usuário</th>
            <th>Função</th>
        </tr>

    </thead>


    <tbody>

        {% for user in users %}

        <tr>

            <td>
                {{ user.username }}
            </td>

            <td>
                {% if user.role %}
                    {{ user.role.name }}
                {% endif %}
            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>


<br>


<h2>Relação de funções cadastradas</h2>

<h4>Quantidade: {{ roles_count }}</h4>


<table class="table">

    <thead>

        <tr>
            <th>Funções</th>
            <th>Usuários</th>
        </tr>

    </thead>


    <tbody>

        {% for role in roles %}

        <tr>

            <td>
                {{ role.name }}
            </td>

            <td>

                {% if grouped_users[role.name] %}

                    <ol>

                        {% for user in grouped_users[role.name] %}

                        <li>
                            {{ user.username }}
                        </li>

                        {% endfor %}

                    </ol>

                {% endif %}

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}