{% extends "base.html" %}


{% block title %}
Login
{% endblock %}


{% block content %}

<div class="pagina-login">

    <div class="login-card">

        <h1>
            Login
        </h1>


        <p class="subtitulo">
            Entre com seus dados para acessar o sistema.
        </p>


        <form method="POST">

            <div class="campo">

                <label for="usuario">
                    Usuário
                </label>

                <input
                    type="text"
                    id="usuario"
                    name="usuario"
                    placeholder="Digite seu usuário"
                    required
                >

            </div>


            <div class="campo">

                <label for="senha">
                    Senha
                </label>

                <input
                    type="password"
                    id="senha"
                    name="senha"
                    placeholder="Digite sua senha"
                    required
                >

            </div>


            <button type="submit">
                Entrar
            </button>

        </form>


        {% if mensagem %}

        <div class="mensagem">

            {{ mensagem }}

        </div>

        {% endif %}

    </div>

</div>

{% endblock %}